* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s ease-out;
}

body {
    width: 100vw;
}

.container {
    height: min-content;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.imageSection {
    width: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageSection img {
    width: 70%;
    object-fit: cover;

}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 42%;
}




/* utilty classes */
.hideAndSlideLeft {
    transform: translateX(-100%);
    display: hidden;
}

.hideAndSlideRight {
    transform: translateX(100%);
    display: hidden;
}

.showSlide {
    transform: translateX(0);
    display: visible;
}